<p id="notice"><%= notice %></p>

<h1>Traductors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traductors.each do |traductor| %>
      <tr>
        <td><%= traductor.nombre %></td>
        <td><%= traductor.correo %></td>
        <td><%= link_to 'Show', traductor %></td>
        <td><%= link_to 'Edit', edit_traductor_path(traductor) %></td>
        <td><%= link_to 'Destroy', traductor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traductor', new_traductor_path %>
